.form__group {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input {
  padding: 8px 5px 8px 10px;
  border: 1px solid #cccc;
  border-radius: 10px;
  margin-bottom: 20px;
}

.textarea {
  border: 1px solid #cccc;
  border-radius: 10px;
  resize: vertical;
  height: 200px;
  padding: 5px;
}

.btn {
  padding: 10px;
  border: 1px solid #cccc;
  background-color: #12ad12;
  color: #FFFF;
  font-size: clamp(18px, 5vw, 22px);
  text-transform: uppercase;
  font-weight: bold;
}

.title {
  font-size: clamp(1rem, 5vw, 3rem);
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.error {
  position: absolute;
  bottom: 0;
  font-size: 14px;
  color: #dd1212;
}