.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: .5s;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal__content {
  padding: 20px;
  border-radius: 10px;
  background-color: #FFFF;
  transform: scale(0.5);
  transition: .4s all;
  overflow-y: scroll;
  max-height: 600px;
}

.modal__content.active {
  transform: scale(1);
}